mixin cardTwitter(item)
  <div class="twitter">
    <div class="twitter__head">
      <div class="twitter__head__avatar">
        <img src="!{item.avatar}" alt="!{item.name}" />
      </div>
      <div class="twitter__head__account">
        <p class="twitter__head__account__name">!{item.name}</p>
        <p class="twitter__head__account__email">!{item.email}</p>
      </div>
    </div>
    <div class="twitter__des">
      <p>!{item.des}</p>
    </div>
  </div>