mixin quote(item)
  <div class="quote">
    <div class="quote__image">
      <img src="!{item.imgUrl}" alt="!{item.imgUrl}" />
    </div>
    <p class="quote__name">!{item.name}</p>
    <p class="quote__visited">Visited: !{item.visited}</p>
    <p class="quote__content">!{item.content}</p>
  </div>